<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="SeleniumWebDriver.TestNG"/>
      <class name="SeleniumWebDriver.TestNG2"/>
      <class name="SeleniumWebDriver.TestNG1"/>
      <class name="SeleniumWebDriver.TestNG4"/>
      <class name="SeleniumWebDriver.TestNG3"/>
      <class name="SeleniumWebDriver.TestNG5"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
